.DS_Store
.git
.gitignore
.dockerignore

node_modules
npm-debug.log*

build
DerivedData
tmp

apps/api/dist
apps/api/.env
apps/api/.env.*
apps/api/*.p8
*.p8

LevyHome.xcodeproj
LevyHome
LevyHomeTests
*.xcuserdata
